// color  
$aiPri: #0077AC; //同--bs-primary
$aiSec: #00B0C1; //同--bs-secondary
$aiSuc: #4F52EF; // 同--bs-success
$aiWar: #ED6762; // 同--bs-warning
$aiInfo: #5080B5; //同--bs-info
$ai-bk-00: #fff;
$ai-bk-200: #E9ECEF; //同--bs-gray-200
$ai-bk-600: #6C757D; //同--bs-gray-600
$ai-bk-800: #343A40; //同--bs-gray-800