// color  
$hmspri: #0F5385; //同--bs-primary
// $hmspriOutlinebtn: #73809e7b
$hmssec: #3493C3; //同--bs-success
$hmsinfo: #c2dfed; //同--bs-info
$hmsalr: #e56130; //只有首頁奇怪的h1用
$hms-bk-00: #fff;
$hms-bk-200: #E9ECEF; //同--bs-gray-200
$hms-bk-600: #6C757D; //同--bs-gray-600
$hms-bk-800: #343A40; //同--bs-gray-800