@mixin bg-center-cover {
        background-position: center center;
        background-size: cover;
        @content
}

@mixin bg-top-cover {
        background-position: top center;
        background-size: cover;
        @content
}

@mixin bg-contain($position1, $position2) {
        background-position: $position1 $position2;
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
        @content
}



@mixin card($size) {
        padding-top: $size;
        overflow: hidden;
        width: 100%;
        @content
}


// 螢光筆
@mixin markpen_y {
        background: linear-gradient(transparent 40%, rgba(255, 255, 255, 0) 40%, #fff176 90%, transparent 95%);
        padding: 2px 1px;
        @content
}

// 分隔線
// 普通分隔線
@mixin hrStyle-common {
        border: 0;
        height: 1px;
        background: #ffffff;
        background-image: linear-gradient(to right, #ffffff #ffffff, #ffffff)
}


// 頭尾半透分隔線
@mixin hrStyle {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(41, 64, 118, 0), rgb(41, 64, 118), rgba(41, 64, 118, 0))
}


@mixin text-color($color1, $color2) {
        background-color: $color1;
        color: $color2;
        @content
}


//段落前後加三角形
@mixin polygonTriangleBefore($width, $height, $color) {
        &::before {
                content: "";
                display: block;
                height: $width;
                width: $height;
                clip-path: polygon(100% 0, 0 100%, 100% 100%);
                background: $color
        }


}

@mixin polygonTriangleAfter($width, $height, $color) {
        &::after {
                content: "";
                display: block;
                height: $width;
                width: $height;
                clip-path: polygon(0 0, 100% 0, 100% 100%);
                background: $color
        }

}

@mixin upDownFlow($sec) {
        -webkit-animation: upDownFlow $sec linear infinite alternate-reverse;
        animation: upDownFlow $sec linear infinite alternate-reverse;
}

@-webkit-keyframes upDownFlow {
        0% {
                -webkit-transform: translateY(45px);
                transform: translateY(45px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 1;
        }

        24% {
                opacity: 1;
        }

        40% {
                -webkit-transform: translateY(24px);
                transform: translateY(24px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        65% {
                -webkit-transform: translateY(12px);
                transform: translateY(12px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        82% {
                -webkit-transform: translateY(6px);
                transform: translateY(6px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        93% {
                -webkit-transform: translateY(4px);
                transform: translateY(4px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        25%,
        55%,
        75%,
        87% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }
}

@keyframes upDownFlow {
        0% {
                -webkit-transform: translateY(45px);
                transform: translateY(45px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 1;
        }

        24% {
                opacity: 1;
        }

        40% {
                -webkit-transform: translateY(24px);
                transform: translateY(24px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        65% {
                -webkit-transform: translateY(12px);
                transform: translateY(12px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        82% {
                -webkit-transform: translateY(6px);
                transform: translateY(6px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        93% {
                -webkit-transform: translateY(4px);
                transform: translateY(4px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        25%,
        55%,
        75%,
        87% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }
}

@mixin zoomIn ($sec) {
        -webkit-animation: zoomIn $sec linear alternate-reverse;
        animation: zoomIn $sec linear alternate-reverse;
        @content
}

@keyframes zoomIn {
        from {
                opacity: 0;
                transform: scale3d(0.3, 0.3, 0.3);
        }

        50% {
                opacity: 1;
        }
}

@mixin heartBeat($sec) {
        animation-name: heartBeat;
        animation-duration: $sec;
        animation-timing-function: ease-in-out;
}

@keyframes heartBeat {
        0% {
                transform: scale(1);
        }

        14% {
                transform: scale(1.1);
        }

        28% {
                transform: scale(1.1);
        }

        42% {
                transform: scale(1.1);
        }

        70% {
                transform: scale(1);
        }
}