html {
  scroll-padding-top: 66px;
}

p {
  color: #595857;
}

.p-color-40 {
  color: #9F9E9F;
}

.p-color-bk80, .h-color-bk80, .text-color_bk80 {
  color: #595857;
}

.h-color-pri {
  color: #294076;
}

.btn-primary, .btn-primary:hover {
  background-color: #294076;
}

.btn-secondary, .btn-secondary:hover {
  background-color: #FF8500;
  border-color: #FF8500;
}

.btn-outline-primary {
  color: #294076;
  border-color: rgba(115, 128, 158, 0.4823529412);
}

.btn-outline-primary:hover {
  background-color: #FF8500;
  border-color: #FF8500;
  color: #fff;
}

.text-medapri {
  color: #294076;
}

.text-meda-bk-80 {
  color: #595857;
}

.system-link {
  background-color: #294076;
  transition: 0.6s;
}
.system-link:focus {
  background-color: #FF8500;
  transition: 0.6s;
}
.system-link:hover {
  background-color: #FF8500;
  transition: 0.6s;
}

.navbar-toggler {
  font-size: 16px;
  padding: 8px;
  border: 0;
}

.offcanvas.offcanvas-end {
  max-width: 60%;
}

.offcanvas .navbar-nav .nav-link.active {
  color: #FF8500;
  font-weight: bold;
}

.bg-body-tertiary {
  background-color: #fff !important;
}

.dropdown-item:active, .dropdown-item.active {
  background-color: #fff;
}

.nav-link, .dropdown-toggle.nav-link {
  color: #595857;
}

.nav-link:hover, .nav-link:focus, .dropdown-toggle.nav-link:hover, .dropdown-toggle.nav-link:focus {
  color: #FF8500;
}

.nav-pills, .nav-pills .dropdown-toggle {
  --bs-nav-pills-border-radius: 999px;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active.dropdown-toggle {
  background-color: #FF8500;
  color: #fff;
  font-weight: bold;
}

.dropdown-menu .dropdown-item {
  color: #595857;
}

.card-point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 144px;
  height: 144px;
  border-radius: 999px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
}
.item .pic {
  width: 90%;
  height: 60%;
  flex-shrink: 1;
}
.item .pic img {
  width: 100%;
  vertical-align: middle;
}
.item .content {
  width: 75%;
  flex-shrink: 1;
  position: relative;
  z-index: 1;
  padding: 1rem 24px;
  transition: 0.25s;
}
.item .content.nth1 {
  background: rgba(255, 133, 0, 0.8);
  color: rgb(255, 255, 255);
}
.item .content.nth2 {
  background: rgba(41, 64, 118, 0.8);
  color: rgb(255, 255, 255);
}

.telemedicineSwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 12px;
}

.swiperTest1 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiperTest1 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.swiperTest1 .swiper-slide img {
  display: block;
  width: 100%;
}

.swiperTest2 {
  width: 70%;
  height: 50%;
}
.swiperTest2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.swiperTest2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.textIndent {
  text-indent: -1rem;
}

.textIndent .bi {
  text-indent: 0rem;
}

.hrStyle-common {
  border: 0;
  height: 1px;
  background: #ffffff;
  background-image: linear-gradient(to right, #ffffff #ffffff, #ffffff);
  margin-bottom: 12px;
  width: 70%;
  margin: 0 auto;
}/*# sourceMappingURL=all.css.map */