// font
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&@400&display=swap");
@import "base";
@import "components";
@import "media";

html {
  scroll-padding-top: 66px; //header 高度
}

body {
  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    // font-weight: 400;
    font-style: normal;
  }
}

.navbar-brand {
  img {

    width: 110px;
    height: auto;

    @include sm {
      width: 150px;
      height: auto;
    }
  }
}

.navbar-toggler {
  font-size: 16px;
  padding: 8px;
  border: 0;
}


// .dropdown-item:active,
// .dropdown-item.active {
//   background-color: var(--bs-white);
// }

// .nav-link,
// .dropdown-toggle.nav-link {
//   color: $hms-bk-800;
// }

// .nav-link:hover,
// .nav-link:focus {
//   background-color: var(--bs-white);
// }

.nav-link.active,
.nav-link.active.dropdown-toggle {
  // background-color: var(--bs-white);
  font-weight: bold;
}

.dropdown-menu .dropdown-item {
  color: var(--bs-gray-600);
  background-color: var(--bs-white);
}