@import "base";
@import "components";
@import "media";

// .indexBgSm {
//   background-image: url(../images/index/bn-sm.webp);
//   background-repeat: no-repeat;
//   background-position: top center;
//   background-size: contain;

//   @include sm {
//     background-image: none;
//   }
// }

.aiItem_col {
  width: 50%;

  @include sm {
    width: 33.333%;
  }

  &:nth-child(1) {
    .aiItem {
      .aiItem_content {
        .aiItem_img {
          background-image: url(../images/indexImg/btnIcon/Medical_Images_Analysis.svg);
        }
      }
    }
  }

  &:nth-child(2) {
    .aiItem {
      .aiItem_content {
        .aiItem_img {
          background-image: url(../images/indexImg/btnIcon/Clinical_Decision_Support.svg);
        }
      }
    }
  }

  &:nth-child(3) {
    .aiItem {
      .aiItem_content {
        .aiItem_img {
          background-image: url(../images/indexImg/btnIcon/Disease_Diagnosis.svg);
        }
      }
    }
  }

  &:nth-child(4) {
    .aiItem {
      .aiItem_content {
        .aiItem_img {
          background-image: url(../images/indexImg/btnIcon/Surgical_Assistance.svg);
        }
      }
    }
  }

  &:nth-child(5) {
    .aiItem {
      .aiItem_content {
        .aiItem_img {
          background-image: url(../images/indexImg/btnIcon/Health_Management.svg);
        }
      }
    }
  }

  &:nth-child(6) {
    .aiItem {
      .aiItem_content {
        .aiItem_img {
          background-image: url(../images/indexImg/btnIcon/Personalized_Medicine.svg);
        }
      }
    }
  }

  .aiItem {
    @include card(100%);
    background-color: $aiSec;
    transition: .7s;

    &:hover {
      background-color: $aiPri;
    }

    .aiItem_content {
      padding: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      .aiItem_img {
        width: 56%;
        height: 56%;
        margin-bottom: 8px;
        border-radius: 999px;
        background-color: $ai-bk-00;
        @include bg-setting(center, center, 80%);
      }
    }
  }
}