@import "base";
@import "components";
@import "media";

.indexBgSm {
  background-image: url(../images/index/bn-sm.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  @include sm {
    background-image: none;
  }
}